.home-wraper {
  padding-top: 40px;
  .create-wraper {
    width: 200px;
    margin-right: 0px;
    margin-left: auto;
  }
  .content-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pagination {
    width: 400px;
    display: flex;
    margin: auto;
  }
}
